<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

<!--    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>-->
<!--    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />-->



    <appender name="LoghubAppender" class="com.spring.story.demosleuth.appender.LoghubAppender">
        <!--必选项-->
        <endpoint>ap-shanghai.cls.tencentcs.com</endpoint>
        <accessKeyId>yyyy</accessKeyId>
        <accessKeySecret>xxxx</accessKeySecret>
        <topicId>3293918e-2079-4d16-9a96-xxx</topicId>

        <envName>local</envName>
        <serviceName>demo-sleuth</serviceName>

        <!-- 可选项 详见 '参数说明'-->
        <totalSizeInBytes>104857600</totalSizeInBytes>
        <maxBlockMs>0</maxBlockMs>
        <sendThreadCount>8</sendThreadCount>
        <batchSizeThresholdInBytes>524288</batchSizeThresholdInBytes>
        <batchCountThreshold>4096</batchCountThreshold>
        <lingerMs>2000</lingerMs>
        <retries>10</retries>
        <baseRetryBackoffMs>100</baseRetryBackoffMs>
        <maxRetryBackoffMs>50000</maxRetryBackoffMs>


        <!-- 可选项 设置时间格式 -->
        <timeFormat>yyyy-MM-dd'T'HH:mm:ss.SSSSSSZ</timeFormat>
        <timeZone>Asia/Shanghai</timeZone>
        <encoder>
            <pattern>%logger</pattern>
        </encoder>
        <mdcFields>exceptionClass,requestId,loginName,requestPath,clientIp,apiCost,req,res,traceId</mdcFields>
    </appender>

    <logger name="org.springframework.web" level="DEBUG"/>
    <logger name="ch.qos.logback" level="WARNING" additivity="true"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
<!--        <appender-ref ref="FILE" />-->
        <appender-ref ref="LoghubAppender" />
    </root>
</configuration>
