<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_NAME" value="api-common"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>utf-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %green(%logger{20}) :%msg%n</pattern>
        </encoder>
    </appender>


    <appender name="LoghubAppender" class="com.zengame.cycube.api.lib.logback.appender.LoghubAppender">
        <!--必选项-->
        <endpoint>ap-shanghai.cls.tencentcs.com</endpoint>
        <accessKeyId>AKID3wb3GExQfgRxDE0WnqeCVYOyJRL0QbYG</accessKeyId>
        <accessKeySecret>WmpeDXcS3PWP3RdcNtAD1auzoOjoeFaf</accessKeySecret>
        <topicId>c91256ef-4746-4f47-8140-ded10c3e129a</topicId>

        <envName>local</envName>
        <serviceName>api-apprun</serviceName>

        <!-- 可选项 详见 '参数说明'-->
        <totalSizeInBytes>104857600</totalSizeInBytes>
        <maxBlockMs>0</maxBlockMs>
        <sendThreadCount>8</sendThreadCount>
        <batchSizeThresholdInBytes>524288</batchSizeThresholdInBytes>
        <batchCountThreshold>4096</batchCountThreshold>
        <lingerMs>2000</lingerMs>
        <retries>10</retries>
        <baseRetryBackoffMs>100</baseRetryBackoffMs>
        <maxRetryBackoffMs>50000</maxRetryBackoffMs>


        <!-- 可选项 设置时间格式 -->
        <timeFormat>yyyy-MM-dd'T'HH:mm:ssZ</timeFormat>
        <timeZone>Asia/Shanghai</timeZone>
        <encoder>
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg</pattern>-->
            <pattern>%logger</pattern>
        </encoder>
        <mdcFields>exceptionClass,requestId,loginName,requestPath,clientIp,apiCost,req,res</mdcFields>
    </appender>

    <logger name="com.zengame.cycube" level="DEBUG" additivity="true"/>
    <logger name="ch.qos.logback" level="WARNING" additivity="true"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LoghubAppender" />
    </root>
</configuration>
