<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>
<h1>login Page</h1>

<form action="/login/page" method="post">
    <div>
        <label for="username">用户名:<input type="text" id="username" name="username"></label>
    </div>
    <div>
        <label for="password">密 码:<input type="password" id="password" name="password"></label>
    </div>
    <br>
    <div>
        <input type="submit" id="submit" style="color: red;"  value="登录">
    </div>
</form>

</form>
</body>
</html>
