<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authine.cloudpivot.app.flyway.repository.mapper.ResourceWebServerDOMapper">
  <resultMap id="BaseResultMap" type="com.authine.cloudpivot.app.flyway.repository.databaseobject.ResourceWebServerDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="server_ip" jdbcType="VARCHAR" property="serverIp" />
    <result column="ssh_port" jdbcType="INTEGER" property="sshPort" />
    <result column="ssh_username" jdbcType="VARCHAR" property="sshUsername" />
    <result column="ssh_password" jdbcType="VARCHAR" property="sshPassword" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
</mapper>