<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springbootpractice.demo.spring.security1.dao.mapper.SecurityRoleEntityMapper">
  <resultMap id="BaseResultMap" type="com.springbootpractice.demo.spring.security1.dao.entity.SecurityRoleEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="app_id" jdbcType="BIGINT" property="appId" />
    <result column="role_english_name" jdbcType="VARCHAR" property="roleEnglishName" />
    <result column="role_chinese_name" jdbcType="VARCHAR" property="roleChineseName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, app_id, role_english_name, role_chinese_name
  </sql>
  <select id="selectByExample" parameterType="com.springbootpractice.demo.spring.security1.dao.example.SecurityRoleEntityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from security_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="rows != null">
      <if test="offset != null">
        limit ${offset}, ${rows}
      </if>
      <if test="offset == null">
        limit ${rows}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from security_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.springbootpractice.demo.spring.security1.dao.entity.SecurityRoleEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into security_role (app_id, role_english_name, role_chinese_name
      )
    values (#{appId,jdbcType=BIGINT}, #{roleEnglishName,jdbcType=VARCHAR}, #{roleChineseName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.springbootpractice.demo.spring.security1.dao.entity.SecurityRoleEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into security_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        app_id,
      </if>
      <if test="roleEnglishName != null">
        role_english_name,
      </if>
      <if test="roleChineseName != null">
        role_chinese_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        #{appId,jdbcType=BIGINT},
      </if>
      <if test="roleEnglishName != null">
        #{roleEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="roleChineseName != null">
        #{roleChineseName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.springbootpractice.demo.spring.security1.dao.example.SecurityRoleEntityExample" resultType="java.lang.Long">
    select count(*) from security_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update security_role
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=BIGINT},
      </if>
      <if test="record.roleEnglishName != null">
        role_english_name = #{record.roleEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="record.roleChineseName != null">
        role_chinese_name = #{record.roleChineseName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update security_role
    set id = #{record.id,jdbcType=BIGINT},
      app_id = #{record.appId,jdbcType=BIGINT},
      role_english_name = #{record.roleEnglishName,jdbcType=VARCHAR},
      role_chinese_name = #{record.roleChineseName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.springbootpractice.demo.spring.security1.dao.entity.SecurityRoleEntity">
    update security_role
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=BIGINT},
      </if>
      <if test="roleEnglishName != null">
        role_english_name = #{roleEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="roleChineseName != null">
        role_chinese_name = #{roleChineseName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springbootpractice.demo.spring.security1.dao.entity.SecurityRoleEntity">
    update security_role
    set app_id = #{appId,jdbcType=BIGINT},
      role_english_name = #{roleEnglishName,jdbcType=VARCHAR},
      role_chinese_name = #{roleChineseName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>